.nav {
  overflow: hidden;

  height: 100%;
  min-width: 36rem;
  margin: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &__block {
    background-color: #121212;
    border-radius: 9px;

    width: 100%;
    display: block;
    padding: .8rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: inherit;

    height: 4rem;
    padding: .6rem 1.2rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;

    svg {
      font-size: 2.8rem;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}

.nav__link.active {
  color: #fff;
}