.square-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;

  &--home {
    grid-template-columns: repeat(5, 1fr);
  }
}

.square-card,
.square-card:link,
.square-card:visited {
  text-decoration: none;
  color: inherit;
  background: #181818;
  border-radius: 9px;
  padding: 1.6rem;
  width: 100%;

  img {
    width: 100%;
    margin-bottom: 1.6rem;
    box-shadow: 0 .8rem 2.4rem rgba(0,0,0,.5);
  }

  &--artist img {
    border-radius: 50rem;
  }

  &:hover {
    background: #282828;
  }
}

.square-card__name {
  font-weight: bold !important;
  color: #fff !important;
  margin-bottom: 4px;
}

.square-card--artist img {
  border-radius: 500px;
}

